.DS_Store
AllSrcCode/iOS/Ordina_IoT.xcodeproj/project.xcworkspace/xcuserdata/rwo10871.xcuserdatad/UserInterfaceState.xcuserstate
AllSrcCode/iOS/Ordina_IoT.xcodeproj/xcuserdata/rwo10871.xcuserdatad/xcschemes/Ordina_IoT.xcscheme
AllSrcCode/iOS/Ordina_IoT.xcodeproj/xcuserdata/rwo10871.xcuserdatad/xcschemes/xcschememanagement.plist
