<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Ordina_IoT.app</string>
		<key>CFBundleIdentifier</key>
		<string>iotkijkdoos</string>
		<key>CFBundleShortVersionString</key>
		<string>0.9.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Edwin Witlox (SWL4CP5Q86)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-03-21T14:10:51Z</date>
	<key>Name</key>
	<string>Ordina_IoT</string>
	<key>SchemeName</key>
	<string>Ordina_IoT</string>
</dict>
</plist>
